<h1><%= t('editing', name: t('contact.title', count: 1)) %></h1>

<%= render 'form' %>

<%= link_to t('show'), @contact, class: 'btn btn-info', role: :button %>
<%= link_to t('index'), contacts_path, class: 'btn btn-outline-secondary', role: :button %>