<h1><%%= t('editing', name: t('<%= singular_table_name %>.title', count: 1)) %></h1>

<%%= render 'form' %>

<%%= link_to t('show'), @<%= singular_table_name %>, class: 'btn btn-info', role: :button %>
<%%= link_to t('index'), <%= index_helper %>_path, class: 'btn btn-outline-secondary', role: :button %>